* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background-image:url("../img/bg-2.png");
	background-repeat: repeat;
	font-family: sans-serif;
}

.uppercase {
	text-transform: uppercase;
}

.wraper {
	margin: 0 auto;
	width: 1140px;
	overflow: hidden;
}

header {
	overflow: hidden;
	background-color: red;
	background-color: #E2563C;
	color: white;
	padding: 0 20px;
	margin-bottom: 10px;
}

header img {
	display: block;
	float: left;
	padding: 5px;
}

header ul li {
	display: inline-block;
	margin: 0 5px;
}

header nav li {
	margin: 0 15px;
}

header .login {
	float: right;
	overflow: hidden;
}

.productos {
	width: 800px;
	float: left;
	overflow: hidden;
	background-color: white;
}

.lateral {
	width: 320px;
	float: right;
}

.lateral h2 {
	background-color: white;
	margin-top:0;
	padding: 5px;
}

.productos article {
	width: 380px;
	float: left;
	margin: 10px;
}

.wraper-aside {
	margin-bottom: 10px;
	overflow: hidden;
}

.lateral article {
	background-color: white;
	overflow: hidden;
	margin: 2px 0;
}

.lateral article img {
	float: left;
	margin-right: 10px;
}

.productos img {
	width: 100%;
}

.productos .button {
	text-decoration: none;
	border: none;
	color: white;
	background-color: #E2563C;
	padding: 10px;
	display: inline-block;
}

.publicidad {
	background-color: white;
}

.publicidad img {
	display: block;
	margin: 0 auto;
	padding: 10px;
}

.login-wrap {
	width: 350px;
	overflow: hidden;
	margin: 50px auto 0 auto;
	overflow: hidden;
}

label.wide {
	display: block;
	margin: 10px 0 2px 0;
}

input.wide {
	margin-bottom: 4px;
}

.login-wrap input {
	padding: 10px 0;
}

.right {
	float: right;
}

.login-wrap button {
	background-color: #518CB6;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 30px;
	float: left;
}

.wide {
	width: 100%;
}

select {
	display: block;
}

h1 {
	text-transform: uppercase;
	color: #666;
	margin: auto;
	text-align: center;
}

.message {
	color: #E2563C;
	font-size: 16px;
	font-weight: bold;
	float: left;
}

.obligatory {
	display: block;
	color: #E2563C;
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
}

.recordar {
	margin:10px 0;
}

.botones {
	margin: 5px 0;
}
.botones button:nth-child(odd) {
	margin-right: 10px;
}
