* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: sans-serif;
  background-image: url('../images/bg-body.png');
}

p {
  color: #555;
}

.container {
  width: auto;
}

.toggle-nav {
  background-color: #333;
  margin: 20px auto;
  color: white;
  width: 40px;
  display: block;
  padding: 5px;
  text-align: center;
  font-size: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav a {
  background: #333;
  color: white;
  text-align: center;
  display: block;
  padding: 15px;
  margin: 1px auto;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.main-footer ul li {
  background: red;
  color: white;
  text-align: center;
  display: block;
  padding: 15px;
  margin: 1px auto;
}

.main-footer a {
  text-decoration: none;
  color: white;
}

.main-header > img {
  border-radius: 100%;
  display: block;
  margin: 15px auto;
  width: 180px;
  height: 180px;
  border: 2px #ccc solid;
}

.banner {
  display: none;
}

.product {
  margin: 10px 0;
}

.photo-container {
   position: relative;
}

img.photo {
 width: 100%;
}

.special {
  position: absolute;
  top: 0px;
  right: 10px;
}

.zoom {
  position: absolute;
  width: 100%;
  padding: 5px;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white;
}

.more {
  text-decoration: none;
  color: white;
  background: #333;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
}

@media (min-width:480px) {
  .toggle-nav {
    display: none;
  }

  .main-nav {

  }

  .main-nav ul {
    display: flex;
    justify-content: space-between;
  }

  .main-nav a {
    display: inline-block;
    padding: 10px;
    margin: 0 0 10px 0;
    font-size: 10px;
  }

  .banner {
    display: block;
  }

  .banner img {
    width: 100%;
  }


  .vip-products {
    overflow: hidden;
  }

  .product:nth-child(odd) {
    margin-right: 5px;
    float: left;
    max-width: 48%;
  }

  .product:nth-child(even) {
    margin-left: 5px;
    float: right;
    max-width: 48%;
  }

}

@media (min-width:1180px) {

  .vip-products  {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .product {
    margin: 15px 0;
    width: 380px;
  }

body {
  margin: 0;
}

  .container {
    max-width: 1180px;
    margin: auto auto 0px auto;
  }

  .main-nav ul {
    display: flex;
  }

  .main-nav li a {
    display: flex; /* allows align-items to work below */
    justify-content: center; /* Horizontally centers single-line elements */
    text-align:center; /* Horizontally centers text within line-wrapped elements */
    align-items: center; /* vertical */
  }

  .banner {
    margin-bottom: 15px;
  }

  .main-nav {
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .main-nav a {
    font-size: 16px;
    width: 180px;
    height: 50px;
    vertical-align: middle;
  }

  .main-footer {
    background-color: red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
  }

  .main-footer ul {
    display: block;
    text-align: center;
  }

  .main-footer ul li {
    display: inline-block;
  }

}
